<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">recipegenerator.cac0zneki61t.us-west-2.rds.amazonaws.com</property>
    <property name="connection.username">recgen</property>
    <property name="connection.password">cs102recgen</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>
    <property name="hbm2ddl.auto">update</property>
    <!-- JDBC connection pool (use the built-in) -->
    <property name="connection.pool_size">1</property>
    <property name="current_session_context_class">thread</property>
    <!-- mappings for annotated classes -->
    <mapping class="com.cs102.recipegenerator.domain.User"/>
    <mapping class="com.cs102.recipegenerator.domain.Fridge"/>
    <mapping class="com.cs102.recipegenerator.domain.FridgeItem"/>
    <mapping class="com.cs102.recipegenerator.domain.Ingredient"/>
    <mapping class="com.cs102.recipegenerator.domain.RecipeFeed"/>
    <mapping class="com.cs102.recipegenerator.domain.Recipe"/>
    <mapping class="com.cs102.recipegenerator.domain.RecipeNeed"/>
  </session-factory>
</hibernate-configuration>
